.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');

/* Navbar link active */

.navbar-light .navbar-nav .nav-link {
  color: #000;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #000;
}
.navbar-light .navbar-nav .nav-link:active{
  color: #FF9F00;
}

/* custom bootstrap button active state */
.btn-dark:not(:disabled):not(.disabled):active:focus{
  box-shadow: none;
}

.btn-dark:focus{
  box-shadow: none;
}

.btn:focus{
  box-shadow: none;
}

.form-label{
  color: #7E7A7A;
  font-size: 18px;
  margin-bottom: -10px;
}

/* custom bootstrap form input */
.form-control{
  background: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #7E7A7A;
  color: #D2D2D2 25%;
  border-radius: 0;
}

.form-control:focus{
  box-shadow: none;
  background: none;
  outline: none;
  border-color: #766C6C;
}

.form-control.auth{
  background: rgba(210, 210, 210, 0.25);
  border: 2px solid #766C6C;
  color: #D2D2D2 25%;
  border-radius: 5px;
}

.form-control.auth:focus{
  box-shadow: none;
  background: rgba(210, 210, 210, 0.25);
  border-color: #282c34;
  outline: none;
}

#input-white-bg{
  background: #FFF;
  border: 1px solid gray;
}

/* custom bootstrap dropdown */
#dropdown-basic{
  width: 70px;
  padding-right: 0;
  padding-left: 0;
  margin-left: -20px;
  margin-right: 40px;
}

#file-button {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #FF9F00;
  color: #fff;
  padding: 5px 25px;
  font-family: sans-serif;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  margin-top: 7px;
}

#dropdown-basic:focus{
  box-shadow: none;
}

/* sweet alert button custom */
.sweet-yellow{
  background: #FF9F00;
}

.swal-button:not([disabled]).sweet-yellow:hover {
  background-color: #FF9F00;
}

.sweet-yellow:focus{
  box-shadow: none;
}

.sweet-danger{
  background: #FF0000;
}

.swal-button:not([disabled]).sweet-danger:hover {
  background-color: #FF0000;
}

.sweet-danger:focus{
  box-shadow: none;
}

.sweet-no-bg{
  background: none;
  color: #000;
  font-weight: bolder;
}

.swal-button:not([disabled]).sweet-no-bg:hover {
  background-color: #fff;
}

.sweet-no-bg:focus{
  box-shadow: none;
}

